div {
	border:solid blue;
	padding:15px, 0px, 15px, 0px;
}

.one , .two {
	border:solid purple;
	background-color:grey;
	padding:15px;
	margin:30px;
}

.box1 {
	height:200px;
}

.box2 {
	height:400px;
	width:400px;
}


